### Manejo de errores en Python
* Para manejar en Python, usamos un bloque de código que se llama try/catch, los cuales, debemos implementar en la parte de nuestro código que nosotros sospechemos pueda fallar.

In [3]:
# Este try catch no hace sentido
try:
  result = 2 + 2
except Exception as e:
  print(e)

print(result)

4

In [9]:
num2 = int(input("Por favor ingrese un número: "))
try:
  result = 2 / num2
  print(f"El resultado de 2 / {num2} es = {result}")
except Exception as e:
  print(f"Ha ocurrido un error, no se permite las divisiones por 0.")
  print(e)

Por favor ingrese un número: 0
Ha ocurrido un error, no se permite las divisiones por 0.
division by zero

In [11]:
try:
  print(f"El numero X vale = {x}")
except Exception as e:
  print(f"Ha ocurrido un error: {e}")

Ha ocurrido un error: name 'x' is not defined

In [12]:
x = 100
try:
  print(f"El numero X vale = {x}")
except Exception as e:
  print(f"Ha ocurrido un error: {e}")

El numero X vale = 100

In [15]:
try:
  x + al
except Exception as e:
  raise

NameError: ignored

In [16]:
int('Hols')

ValueError: ignored

In [19]:
try:
  num = int('Hola') # Castear, convertir un texto a numero
except ZeroDivisionError as e1:
  print(e1)
except ValueError as e2:
  print(e2)

print("Codigo continua")

invalid literal for int() with base 10: 'Hola'
Codigo continua

In [20]:
try:
  num = int('Hola') # Castear, convertir un texto a numero
except Exception as e:
  print(f"Ha ocurrido una excepción: {e}")

print("Codigo continua")

Ha ocurrido una excepción: invalid literal for int() with base 10: 'Hola'
Codigo continua

In [22]:
while True:
  edad = input('Ingrese su edad: ')
  try:
    edad = int(edad)
    res  = 2039 / edad
    print(f"La edad del usuario es: {edad}, y el resultado es: {res}")
    break
  except ValueError:
    print("No ha sido posible convertir la edad a número")
  except ZeroDivisionError:
    print("No es posible dividir la edad por 0")

Ingrese su edad: Hola
No ha sido posible convertir la edad a número
Ingrese su edad: p
No ha sido posible convertir la edad a número
Ingrese su edad: 0
No es posible dividir la edad por 0
Ingrese su edad: 0
No es posible dividir la edad por 0
Ingrese su edad: 10
La edad del usuario es: 10, y el resultado es: 203.9

In [33]:
try:
  genero = input('Ingrese Genero: 1 - M , 2 - F, 3 - Others: ')
  genero = int(genero)
  
except Exception as exc:
  print(exc)
  genero = 'NA'

print(f"El genero ingresado es: {genero}")

Ingrese Genero: 1 - M , 2 - F, 3 - Others: 1
El genero ingresado es: 1

## Pandas
Pandas es una libreria muy popular en Python y que se utiliza para el manejo de archivos CSV, Excel, Parquet, TXT, etc. Generalmente archivos estructurados o semiestructurados. 

__Podemos Pandas como el Excel de Python__

In [35]:
import pandas as pd
# Data Frames

In [37]:
df_1 = pd.read_csv('https://gist.githubusercontent.com/rnirmal/e01acfdaf54a6f9b24e91ba4cae63518/raw/6b589a5c5a851711e20c5eb28f9d54742d1fe2dc/datasets.csv', sep = ',')

In [43]:
df_1.head(3) # Nos muestra las primeras X lineas de nuestra tabla

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0

In [44]:
df_1.tail(3) # Nos muestra las últimas X lineas de nuestra tabla

,datasetName,about,link,categoryName,cloud,vintage
58,EDRM Enron,"EDRM Enron EMail of 151 users, hosted on S3",https://aws.amazon.com/datasets/enron-email-data/,Social Networks,Amazon,NaN
59,GetGlue,GetGlue - users rating TV shows,http://getglue-data.s3.amazonaws.com/getglue_s...,Social Networks,NaN,NaN
60,Twitter RepLab,Twitter Data for Online Reputation Management,http://nlp.uned.es/replab2013/,Social Networks,NaN,2013.0

In [47]:
df_2 = pd.read_csv('https://gist.githubusercontent.com/rnirmal/e01acfdaf54a6f9b24e91ba4cae63518/raw/6b589a5c5a851711e20c5eb28f9d54742d1fe2dc/datasets.csv', sep = ',')

In [48]:
df_2.head()

,datasetName,about,link,categoryName,cloud,vintage
0,Microbiome Project,American Gut (Microbiome Project),https://github.com/biocore/American-Gut,Biology,GitHub,NaN
1,GloBI,Global Biotic Interactions (GloBI),https://github.com/jhpoelen/eol-globi-data/wik...,Biology,GitHub,NaN
2,Global Climate,Global Climate Data Since 1929,http://en.tutiempo.net/climate,Climate/Weather,NaN,1929.0
3,CommonCraw 2012,3.5B Web Pages from CommonCraw 2012,http://www.bigdatanews.com/profiles/blogs/big-...,Computer Networks,NaN,2012.0
4,Indiana Webclicks,53.5B Web clicks of 100K users in Indiana Univ.,http://cnets.indiana.edu/groups/nan/webtraffic...,Computer Networks,NaN,NaN

In [53]:
df_3 = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv', sep = ',')

In [55]:
df_3.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [57]:
df_4 = pd.read_csv('iris_mintic.csv')

In [58]:
df_4.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [60]:
df_5 = pd.read_csv('sample_data/mnist_train_small.csv')

In [62]:
df_5.head(3)

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [72]:
df_6 = pd.read_csv('iris_mintic_no_cols.csv', sep = ' ')
df_6

         5.1,3.5,1.4,.2,"Setosa"
0          4.9,3,1.4,.2,"Setosa"
1        4.7,3.2,1.3,.2,"Setosa"
2        4.6,3.1,1.5,.2,"Setosa"
3          5,3.6,1.4,.2,"Setosa"
4        5.4,3.9,1.7,.4,"Setosa"
..                           ...
144    6.7,3,5.2,2.3,"Virginica"
145    6.3,2.5,5,1.9,"Virginica"
146      6.5,3,5.2,2,"Virginica"
147  6.2,3.4,5.4,2.3,"Virginica"
148    5.9,3,5.1,1.8,"Virginica"

[149 rows x 1 columns]

In [76]:
! pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.9 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [87]:
# Cuando tenemos un archivo sin nombres de columnas, podemos usar el parametro
# names, para mandarle una lista con los nombres de las columnas
df_7 = pd.read_csv('iris_2.txt', sep = '\t', names = ['sepal.length','sepal.width','petal.length','petal.width','variety'])
df_7.head(3)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [88]:
df_7.shape # Nos retorna la cantidad de filas, columnas que tiene nuestra tabla

(150, 5)

In [90]:
df_7.size # Retorna la cantidad de celdas que tiene nuestra tabla

750

In [103]:
df_7.iloc[1, 1] = 3.0

In [104]:
df_7.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [105]:
df_7['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [106]:
df_7['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [108]:
df_7['petal.length_2'] = df_7['petal.length'] * 100
df_7.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2
0,5.1,3.5,1.4,0.2,Setosa,140.0
1,4.9,3.0,1.4,0.2,Setosa,140.0
2,4.7,3.2,1.3,0.2,Setosa,130.0
3,4.6,3.1,1.5,0.2,Setosa,150.0
4,5.0,3.6,1.4,0.2,Setosa,140.0

In [109]:
df_7.insert(2, "newcol", df_7['petal.length'] * 100)

In [111]:
df_7.head()

,sepal.length,sepal.width,newcol,petal.length,petal.width,variety,petal.length_2
0,5.1,3.5,140.0,1.4,0.2,Setosa,140.0
1,4.9,3.0,140.0,1.4,0.2,Setosa,140.0
2,4.7,3.2,130.0,1.3,0.2,Setosa,130.0
3,4.6,3.1,150.0,1.5,0.2,Setosa,150.0
4,5.0,3.6,140.0,1.4,0.2,Setosa,140.0

In [114]:
df_7 = df_7.drop(['newcol'], axis = 1) # Removemos una columna, y guardamos el nuevo dataframe

In [116]:
df_7.max()

sepal.length            7.9
sepal.width             4.4
petal.length            6.9
petal.width             2.5
variety           Virginica
petal.length_2        690.0
dtype: object

In [118]:
df_7.min()

sepal.length         4.3
sepal.width          2.0
petal.length         1.0
petal.width          0.1
variety           Setosa
petal.length_2     100.0
dtype: object

In [122]:
df_7['sepal.length'].max() / df_7['sepal.length'].min()

1.8372093023255816

In [123]:
df_7['sepal.length'].mean()

5.843333333333334

In [124]:
df_7['sepal.length'] / df_7['sepal.width']

0      1.457143
1      1.633333
2      1.468750
3      1.483871
4      1.388889
         ...
145    2.233333
146    2.520000
147    2.166667
148    1.823529
149    1.966667
Length: 150, dtype: float64

In [147]:
import numpy as np
df_7['edad_flor'] = [np.random.randint(15, 100) for i in range(len(df_7))]

In [148]:
df_7.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2,new_col,edad_flor
0,5.1,3.5,1.4,0.2,Setosa,140.0,41,74
1,4.9,3.0,1.4,0.2,Setosa,140.0,43,48
2,4.7,3.2,1.3,0.2,Setosa,130.0,76,21
3,4.6,3.1,1.5,0.2,Setosa,150.0,34,18
4,5.0,3.6,1.4,0.2,Setosa,140.0,72,36

In [153]:
df_7['grupo_edad'] = df_7['edad_flor'].apply(lambda x : 'Edad entre 15 y 30' if x >= 15 and x <= 30 else 'Edad mayor que 30')

In [154]:
df_7.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2,new_col,edad_flor,grupo_edad
0,5.1,3.5,1.4,0.2,Setosa,140.0,41,74,Edad mayor que 30
1,4.9,3.0,1.4,0.2,Setosa,140.0,43,48,Edad mayor que 30
2,4.7,3.2,1.3,0.2,Setosa,130.0,76,21,Edad entre 15 y 30
3,4.6,3.1,1.5,0.2,Setosa,150.0,34,18,Edad entre 15 y 30
4,5.0,3.6,1.4,0.2,Setosa,140.0,72,36,Edad mayor que 30

In [155]:
df_7['grupo_edad'].value_counts()

Edad mayor que 30     124
Edad entre 15 y 30     26
Name: grupo_edad, dtype: int64

In [159]:
def generar_grupo(edad_flor):
  if edad_flor >= 15 and edad_flor <= 30:
    return 'Edad entre 15 y 30'
  elif edad_flor > 30 and edad_flor <= 75:
    return 'Edad entre 31 y 75'
  else:
    return 'Edad mayor a 75'

In [ ]:
df_7['grupo_edad3'] = df_7['edad_flor'].apply(lambda x : 'Edad entre 15 y 30' if x >= 15 and x <= 30 else 'Edad entre 31 y 75' if edad > 30 and edad <= 75 else 'Edad mayor que 30')

In [161]:
df_7['grupo_edad2'] = df_7['edad_flor'].apply(generar_grupo)
df_7.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2,new_col,edad_flor,grupo_edad,grupo_edad2
0,5.1,3.5,1.4,0.2,Setosa,140.0,41,74,Edad mayor que 30,Edad entre 31 y 75
1,4.9,3.0,1.4,0.2,Setosa,140.0,43,48,Edad mayor que 30,Edad entre 31 y 75
2,4.7,3.2,1.3,0.2,Setosa,130.0,76,21,Edad entre 15 y 30,Edad entre 15 y 30
3,4.6,3.1,1.5,0.2,Setosa,150.0,34,18,Edad entre 15 y 30,Edad entre 15 y 30
4,5.0,3.6,1.4,0.2,Setosa,140.0,72,36,Edad mayor que 30,Edad entre 31 y 75

In [162]:
df_7['grupo_edad2'].value_counts()

Edad entre 31 y 75    83
Edad mayor a 75       41
Edad entre 15 y 30    26
Name: grupo_edad2, dtype: int64

In [170]:
df_7['grupo_edad3'] = df_7['edad_flor'].apply(lambda x : 'Edad entre 15 y 30' if x >= 15 and x <= 30 else 'Edad entre 31 y 75' if edad > 30 and edad <= 75 else 'Edad mayor que 30')

In [169]:
df_7.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2,new_col,edad_flor,grupo_edad,grupo_edad2,grupo_edad3|
0,5.1,3.5,1.4,0.2,Setosa,140.0,41,74,Edad mayor que 30,Edad entre 31 y 75,Edad mayor que 30
1,4.9,3.0,1.4,0.2,Setosa,140.0,43,48,Edad mayor que 30,Edad entre 31 y 75,Edad mayor que 30
2,4.7,3.2,1.3,0.2,Setosa,130.0,76,21,Edad entre 15 y 30,Edad entre 15 y 30,Edad entre 15 y 30
3,4.6,3.1,1.5,0.2,Setosa,150.0,34,18,Edad entre 15 y 30,Edad entre 15 y 30,Edad entre 15 y 30
4,5.0,3.6,1.4,0.2,Setosa,140.0,72,36,Edad mayor que 30,Edad entre 31 y 75,Edad mayor que 30

In [173]:
df_7.drop_duplicates(subset = ['variety'])

,sepal.length,sepal.width,petal.length,petal.width,variety,petal.length_2,new_col,edad_flor,grupo_edad,grupo_edad2,grupo_edad3|,grupo_edad3
0,5.1,3.5,1.4,0.2,Setosa,140.0,41,74,Edad mayor que 30,Edad entre 31 y 75,Edad mayor que 30,Edad mayor que 30
50,7.0,3.2,4.7,1.4,Versicolor,470.0,41,39,Edad mayor que 30,Edad entre 31 y 75,Edad mayor que 30,Edad mayor que 30
100,6.3,3.3,6.0,2.5,Virginica,600.0,32,97,Edad mayor que 30,Edad mayor a 75,Edad mayor que 30,Edad mayor que 30